body {
  font-family: Arial;
  padding: 20px;
  background: #f7f7f7;
}

h1 {
  text-align: center;
}

#search {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  margin-bottom: 20px;
}

.result {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
